language: php

php:
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"

before_script:
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - npm install -g bower
  - bower install -f

install: "composer install"

script: "./vendor/bin/robo test"
